! Title: Phishing Domains Blocklist by mitchellkrogza & funilrys
! Source: https://raw.githubusercontent.com/Phishing-Database/Phishing.Database/master/active-domains.adblock
! Repo: https://github.com/Phishing-Database/Phishing.Database
! Contribute: https://github.com/Phishing-Database/phishing
! License: MIT (https://github.com/Phishing-Database/Phishing.Database/raw/master/LICENSE)
!
